.App {
    background-color: #282c34;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.pageWrapper {
    height: 99vh;
    width: 99vW;
    display: grid;
    grid-template-columns: 3fr 1fr; 
    grid-template-areas:
    "viewContainer accountInfoWrapper"
}
.viewContainer {
    grid-area: viewContainer;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-areas:
    "navWrapper viewWrapper"
}

.accountInfoWrapper, 
.navWrapper,
.viewWrapper {
    margin: 10px;
    border: 5px solid #232323;
}
.accountInfoWrapper{
    grid-area: accountInfoWrapper
}
.navWrapper {
    grid-area: navWrapper;
    display: block;
    justify-content: center;
    alignmnet: center;
}
.viewWrapper {
    grid-area: viewWrapper;
    text-align: center;
}
.navButton {
    background-color: #e5786d; /* Green */
    border: none;
    color: white;
    margin: 2px 0px;
    padding: 15px 32px;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}
.navButton:hover{
    background-color: lightcoral;
}

.accountInfoWrapper{
    text-align: center;
}
.requestListingWrapper{
    
    margin: auto;
    width:90%;
    height:88vh;
    overflow-y: scroll;
    border: 5px solid #232323;    
}
.requestWrapper{
    padding: 10px;
    color: white;
    text-align: left;
    margin: 10px;
    border: 1px dashed lightcoral;
}
.errorString{
    color: #FF0000;
}
